body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;


  background: #f2f8edFF;
}

li{
  list-style: none;
}

main{
  padding: 2rem;
}


/*navbar*/
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 3px solid #f2f2f2;
}

.navbar h1 {
  color: black;
}
.navbar {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
a{
  color: black;
}

.ListItems li:hover {
  text-decoration: underline black solid;
}

.disabled{
  color: gray;

}
.enable{
  color: black;
}

.ListLink {
  display: flex;
  gap: 1rem;

}

/*content with the home*/
.content {
  margin: 40px auto;
  padding: 20px;
}
.home{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

}


@media (max-width:  600px) {
  img{
    width: 200px;

  }

}

@media (min-width:  600px) {
  img {
    min-width : 300px;
    object-fit: cover;
    max-width: 100%;

  }
  .ListItems{
    display: flex;
    flex-direction: row;
  }
  .imagesStyling{
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
  }
  form{
    width: 35rem;
  }


}



@media (min-width:  1200px) {
  .imagesStyling{
    display: grid;
    grid-template-columns:  auto auto auto;
  }

}


/*login page*/

form{
  background-color: white;
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

}

input {
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  color: #333;
  outline: none;
  cursor: pointer;
}

input:hover {
  background-color: #e0e0e0;
}
input:focus {
  outline: blue;
}

button,.buttonProps {
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  box-shadow: 0px 5px 9px 0px;
}


button:hover {
  background-color: #e0e0e0;
}


/*animaiton  css */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.7s ease-in-out;
}