body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

li{
  list-style: none;
}


/*navbar*/
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 3px solid #f2f2f2;
}
.navbar h1 {
  color: black;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.test {
  text-decoration: underline black;
}

/*content with the home*/
.content {
  margin: 40px auto;
  padding: 20px;
}


@media (max-width:  500px) {
  img{
    width: 250px;

  }

}

@media (min-width:  500px) {
  img {
    width: 400px;

  }
}



